*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, blue, red);
}
#cabecalho{
    text-align: center;
    margin: 50px;
}
#container{
    column-count: 2;
    text-align: center;
}
#container > div > img{
    width: 50%;
    margin: 10px;
}